<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<h3>You have requested password reset for account associated with username <span th:text="${username}"></span>!</h3>
<p>Please follow this link to proceed with reset process. <a th:href="${resetLink}" th:text="${resetLink}"></a></p>
<p>If you didn't request password reset you can ignore this mail.</p>
</body>
</html>