<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<h2>Thank you for registration <span th:text="${username}"></span>!</h2>
    <br/>
<p>You can visit application on url: <span th:text="${url}"></span></p>
</body>
</html>