<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet"/>

    <link rel="icon" type="image/png" href="../static/assets/images/icons/favicon.ico"
          th:href="@{/assets/images/icons/favicon.ico}"/>

    <style>
        body {
            margin-top: 3em;
        }

        i {
            padding-left: 0.25em;
            padding-right: 0.25em;
        }
    </style>

    <title>Admin users</title>
</head>

<body>


<div class="container">
    <div style="position: absolute; right:calc(50% + 65px); top:10px; min-height: 300px; min-width: 600px">
        <div style="position: absolute; top: 0; right: 0;">
            <div class="toast" autohide="false">
                <div class="toast-header" id="toast-header">
                </div>
                <div class="toast-body" id="toast-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Edit users</h1>
        </div>
        <div class="col-sm-2">
            <button id="csv-btn-trigger" class="btn btn-primary">CSV import</button>
            <form id="csv-upload-form" action="javascript:void(0)" hidden="hidden">
                <input id="csv-file-input" type="file" name="file" hidden="hidden"/>
            </form>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Add user</button>
        </div>
        <div class="col-sm-2">
            <a href="/auth/logout" class="btn btn-outline-danger">Logout</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped" cellspacing="0" width="100%">
            <thead class="thead-dark">
            <tr>
                <th class="th-sm">Username</th>
                <th class="th-sm">Full Name</th>
                <th class="th-sm">e-Mail</th>
                <th class="th-sm">Roles</th>
                <th class="th-sm">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="2"> No Users present</td>
            </tr>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.username}"> Username </span></td>
                <td><span th:text="${user.firstName + ' ' + user.lastName}"> Username </span></td>
                <td><span th:text="${user.email}"> Username </span></td>
                <td><span th:each="role: ${user.roles}" th:text="${role.role + ', '}"> Role </span></td>
                <td>
                    <span><a data-toggle="modal" data-target="#editModal" th:attr="userId=${user.id}" href="#"><i
                            class="material-icons">edit</i></a></span>
                    <span><a th:id="'user-' + ${user.id}" th:onclick="'deleteUser('+${user.id}+')'" href="#"><i
                            class="material-icons" th:attr="userId=${user.id}">delete</i></a></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit-modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/auth/users/edit" id="edit-form">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="edit-first-name" class="col-form-label">Full name:</label>
                            <input type="text" class="form-control" id="edit-first-name" name="firstName"/>
                        </div>
                        <div class="form-group">
                            <label for="edit-last-name" class="col-form-label">Full name:</label>
                            <input type="text" class="form-control" id="edit-last-name" name="lastName"/>
                        </div>
                        <div class="form-group">
                            <label for="edit-username" class="col-form-label">Username:</label>
                            <input class="form-control" id="edit-username" name="username"/>
                        </div>
                        <div class="form-group">
                            <label for="edit-email" class="col-form-label">Email:</label>
                            <input class="form-control" type="email" id="edit-email" name="email"/>
                        </div>
                        <div class="form-group">
                            <label for="edit-roles" class="col-form-label">Roles:</label>
                            <select id="edit-roles" class="form-control" multiple="multiple" name="roles">
                                <option value="ROLE_ADMIN">Admin</option>
                                <option value="ROLE_MODERATOR">Moderator</option>
                                <option value="ROLE_USER">User</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="createModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create-modal-label">Create user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/auth/users/edit" id="create-form">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="create-first-name" class="col-form-label">First name:</label>
                            <input type="text" class="form-control" id="create-first-name" name="firstName"/>
                        </div>
                        <div class="form-group">
                            <label for="create-last-name" class="col-form-label">Last name:</label>
                            <input type="text" class="form-control" id="create-last-name" name="lastName"/>
                        </div>
                        <div class="form-group">
                            <label for="create-username" class="col-form-label">Username:</label>
                            <input class="form-control" id="create-username" name="username"/>
                        </div>
                        <div class="form-group">
                            <label for="create-password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="create-password" name="password"/>
                        </div>
                        <div class="form-group">
                            <label for="create-email" class="col-form-label">Email:</label>
                            <input class="form-control" type="email" id="create-email" name="email"/>
                        </div>
                        <div class="form-group">
                            <label for="create-roles" class="col-form-label">Roles:</label>
                            <select id="create-roles" class="form-control" multiple="multiple" name="roles">
                                <option value="ROLE_ADMIN">Admin</option>
                                <option value="ROLE_MODERATOR">Moderator</option>
                                <option value="ROLE_USER">User</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script th:inline="javascript">


  function showToast(title, body) {
    $('#toast-header').text(title);
    $('#toast-body').text(body);

    $('.toast').toast({delay: 1250});
    $('.toast').toast('show');
  }

  function deleteUser(id) {
    $.ajax({
      url: `/auth/users/${id}`,
      method: "DELETE",
      statusCode: {
        200: () => {
          showToast("Success", `Succesfully deleted user with id ${id}`);
          setTimeout(() => {window.location.href = "/auth/admin/users";}, 1500)
        },
        500: jqXHR => {
          console.log(jqXHR);
        }
      }
    });
  }

  var users = [[${users}]];
  users = users.reduce((agg, curVal) => {
    agg[curVal.id] = curVal;
    return agg;
  }, {});

  var fileInput = $('#csv-file-input');
  $('#csv-btn-trigger').on('click', function () {
    fileInput.click();
  });

  fileInput.on('change', function () {
    var csvForm = $("#csv-upload-form")[0];
    var data = new FormData(csvForm)

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: "/auth/users/upload-csv",
      data: data,
      processData: false, //prevent jQuery from automatically transforming the data into a query string
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        console.log(data);
        showToast("Succesfully imported users", `Success: ${data.success}\nFailed: ${data.failed}`)
        setTimeout(() => {window.location.href = "/auth/admin/users";}, 1500)
      },
      error: function (e) {
        showToast("Error", `${e}`)
      }
    });
  });

  $('#editModal').on('shown.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var targetUserId = button[0].attributes['userid'].value;

    let targetUser = users[targetUserId];
    var modal = $(this);
    modal.find('.modal-body #edit-first-name').val(`${targetUser.firstName}`);
    modal.find('.modal-body #edit-last-name').val(`${targetUser.lastName}`);
    modal.find('.modal-body #edit-username').val(`${targetUser.username}`);
    modal.find('.modal-body #edit-email').val(`${targetUser.email}`);
    modal.find('.modal-body #edit-roles').val(targetUser.roles.map(roleObj => roleObj.role)
    ).prop("selected", true);
  });

  $('#createModal').on('shown.bs.modal', function (event) {
  });

  $("#edit-form").on("submit", function () {
    let values = {};
    $(this)
      .serializeArray()
      .forEach(e => (values[e.name] = e.value));
    let roles = [];
    $.each($("#edit-roles option:selected"), function () {
      roles.push($(this).val())
    });
    values["roles"] = roles;

    $.ajax({
      url: "/auth/users/edit",
      method: "POST",
      data: JSON.stringify(values),
      dataType: "json",
      contentType: "application/json; charset=UTF-8",
      statusCode: {
        200: () => {
          $('#editModal').modal('toggle')
          showToast("Success", `User ${values.username} data updated.`);
          setTimeout(() => {window.location.href = "/auth/admin/users";}, 1500)
        },
        500: jqXHR => {
          console.log(jqXHR);
        }
      }
    });

    return false;
  });

  $("#create-form").on("submit", function () {
    let values = {};
    $(this)
      .serializeArray()
      .forEach(e => (values[e.name] = e.value));
    let roles = [];
    $.each($("#create-roles option:selected"), function () {
      roles.push($(this).val())
    });
    values["roles"] = roles;

    $.ajax({
      url: "/auth/register",
      method: "POST",
      data: JSON.stringify(values),
      dataType: "json",
      contentType: "application/json; charset=UTF-8",
      statusCode: {
        200: () => {
          showToast("Success", `User ${values.username} created.`);
          setTimeout(() => {window.location.href = "/auth/admin/users";}, 1500)
        },
        500: jqXHR => {
          console.log(jqXHR);
        }
      }
    });

    return false;
  });
</script>

</body>
</html>
