$font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff !important;
}

.list-group-item.list-group-item-action.active {
    background-color: rgba(40, 167, 69, .2);
    border-color: rgba(40, 167, 69, .2);
    outline: none;
}

.btn-primary {
    background-color: rgba(40, 167, 69, 1);
    border-color: rgba(40, 167, 69, 1);
}

.btn-primary:hover {
    background-color: rgba(40, 167, 69, .8);
    border-color: rgba(40, 167, 69, .8);
}